.grayLink:link {
    color: #292929;
}

.grayLink:hover {
    color: #535353;
    text-underline: #535353;
}

.grayLink:visited {
    color: #292929;
}

.grayLink:active {
    color: blue;
}

#headerGroup {
    margin-top: 3rem;
}

#mainContainer {
    background-color: #f0f0f0;
    padding-bottom: 6rem;
}

#mainHeader {
    background-color: #dddddd;
    margin-bottom: 0;
}

#headerProject {
    padding-top: 1rem;
}

#footerMain {
    background-color: #ababab;
    padding-top: 0.4rem;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4.5rem;
    width: 100%;
}

#footerImpressum {
    padding-right: 1.5rem;
    padding-top: 1rem;
    float: right;
    display: inline-block;
}

#footerLogo {
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;
    height: 4.8rem;
    display: inline-block;
}

#footerInline {
    display: inline-block;
}
